@model AppStore.Models.Domain.Categoria
@{

}

<form class="w-40" asp-action="Add" method="POST">

    <h2>Agregar Categoría</h2>

    @* Caja para Titulo *@
    <div class="input-container">
        <label asp-for="Nombre" class="w-40">Nombre</label>
        <input type="text" class="input" asp-for="Nombre">
    </div>
    @* Para mostrar advertencia *@
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Nombre"></span>
    </div>


    @* Si hay un error *@
    @if (TempData["msg"] != null)
    {
        <div class="alert-mb1">
            @TempData["msg"]
        </div>
    }

    @* Botón *@
    <div class="input-container">
        <button class="btn btn-default">Guardar</button>
        <a href="/Categoria/CategoriaList" class="btn btn-sec">Ver todo</a>
    </div>

</form>